body {
  margin: 0px;
  padding: 0px;
}
header {
  height: 80px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 17px;
}
.nav-logo {
  background-image: url("../images/myntra-2.svg");
  height: 36px;
  width: 53px;
  background-size: cover;
}
.nav-search{
    display: flex;
    
}
.nav-search-icon{

}