body {
  margin: 0px;
  padding: 0px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
header {
  height: 80px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 5%;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.nav-logo {
  height: 36px;
  width: 53px;
  background-size: cover;
  margin: 0 0 0 4%;
}
.nav-section {
  height: 80px;
  display: flex;
  gap: 36px;
  justify-content: space-between;
  align-items: center;
}
.nav-section a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.nav-section div {
  display: flex;
  gap: 4px;
}

.nav-section span {
  text-decoration: none;
  color: red;
  font-size: 10px;
  position: relative;
  top: -4px;
}
.nav-search {
  display: flex;
  width: 30%;
  height: 40px;
  background-color: #f5f5f6;
  align-items: center;
}
.nav-search-icon {
  display: flex;
  justify-content: center;
  font-size: 14px;
  width: 40px;
}
.nav-search-icon i {
  color: #878b94;
}
.nav-search-input {
  background-color: #f5f5f6;
  width: 100%;
  padding-left: 10px;
  border: none;
  font-size: 14px;
}
.nav-search-input:focus {
  outline: none;
}
.nav-actions {
  display: flex;
  gap: 40px;
}
.nav-profile {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  font-size: 12px;
}
.nav-profile i {
  font-size: 20px;
}

/* main */
.containt {
  display: flex;
  padding-top: 37px;
}
/* filters */
.fillters {
  width: 252px;
  height: 1058px;
  flex-shrink: 0;
  position: sticky;
  top: -31%;
}
.fillter-heading {
  padding: 11px 0 15px 25px;
  margin: 0;
}
.fillter-box {
  color: #282c3f;
  padding: 20px 0 15px 25px;
  border: 1px solid #f5f5f6;
}
.fillters-items {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.fillter-box h4 {
  margin: 0 0 18px;
  text-transform: uppercase;
}
.fillter-box input {
  margin: 0 14px 0 0;
  width: 16px;
  height: 16px;
  accent-color: #ff0000;
}
.fillter-box label {
  font-size: 14px;
}
.fillter-box span {
  color: #94969f;
  font-size: 11px;
  margin-left: 4px;
}
.color-display-fillter {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
  border: 0.5px solid #d6d6d6;
}

/* price range  ss*/

.myntra-filter {
  width: 220px;
  font-family: Arial, sans-serif;
  color: #282c3f;
}
.filter-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 14px;
}
.slider-ui {
  position: relative;
}
.rail {
  position: relative;
  height: 4px;
  background: #eaeaec;
  border-radius: 2px;
}
.range {
  position: absolute;
  height: 4px;
  background: #ff3f6c;
  left: 10%;
  right: 10%;
  border-radius: 2px;
}
.thumb {
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  background: #ff3f6c;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.thumb.left {
  left: 10%;
}
.thumb.right {
  left: 90%;
}
.price-text {
  margin-top: 14px;
  font-size: 13px;
}

/* price range  ee*/
.offer {
  position: fixed;
  top: 18.5em;
  width: 288px;
  height: 44px;
  background-color: #535766;
  z-index: 6;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  transform: rotate(270deg);
  right: -122px;
  i {
    margin-left: 24px;
  }
}
.latest-offer-bell {
  width: 40px;
  height: 40px;
  color: white;
  background-color: rgb(29, 133, 252);
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 28px;
  bottom: 120px;
  z-index: 1000;
}
/*products */
.all-product-select {
  display: flex;
  justify-content: space-between;
}
.products-select-fil {
  display: flex;
  gap: 20px;
}
.products-select {
  border: none;
  font-size: 14px;
  color: #282c3f;
}
.products-select:focus {
  outline: none;
}
.recomended-and-other {
  margin-right: 3%;
  padding: 9px 14px;
  font-size: 14px;
  color: #282c3f;
  cursor: pointer;
  position: relative;
  width: 255px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d4d5d9;
}
.recomended-and-other select {
  border: none;
  font-size: 14px;
  font-weight: 600;
}
.recomended-and-other select option {
  border: none;
  width: 100px;
}
.recomended-and-other select:focus {
  border: none;
  outline: none;
}
.page-detail {
  padding-top: 15px;
  margin-left: 24px;
  display: flex;
  color: #282c3f;
  gap: 4px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  border: 1px solid #f5f5f6;
  padding: 24px 20px 0px 15px;
  margin-top: 9px;
}
.products-item {
  width: 210px;
  height: 370px;
  margin: 10px;
  flex: 1;
  position: relative;
}
.products-items-img {
  height: 280px;
  width: 210px;
}
.protuct-rating-container {
  height: 25px;
  width: 81px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  bottom: 95px;
  left: 10px;
  background-color: #ffffffd9;
}
.protuct-rating-container i {
  margin-top: 3px;
  color: #26af09;
}

.products-item-meta-data {
  margin: 12px 0px 0px;
  padding: 0px 10px;
}
.products-item-meta-data-brand {
  margin: 0px 0px 6px;
  font-size: 16px;
  color: #282c3f;
  line-height: 1;
}
.products-item-meta-data-type {
  color: #535766;
  font-size: 14px;
  margin: 0px;
  line-height: 1;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  width: 190px;
  text-overflow: ellipsis;
}
.products-item-meta-data-price-box {
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  display: flex;
  align-items: center;
}
.products-item-meta-data-price-discount-price {
  color: #282c3f;
  margin: 10px 0;
  font-weight: 700;
}
.products-item-meta-data-price-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.products-item-meta-data-price-discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

/* footer */
footer {
  padding: 30px 0px 40px 0px;
  background-color: #fafbfc;
  color: #282c3f;
}
.footer-detail {
  display: flex;
  justify-content: center;
  gap: 125px;
  margin: 0 0 24px;
  h5 {
    font-size: 12px;
    white-space: nowrap;
    margin-top: 0;
  }
  span {
    font-size: 15px;
    color: #696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal;
  }
}
.online-shopping {
  display: flex;
  flex-direction: column;
  span {
    font-size: 15px;
    color: #696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal;
  }
}
.mobile-app {
  div {
    display: flex;
    gap: 10px;
  }
  img {
    width: 123px;
    height: 42px;
  }
}

.orignal-return {
  strong {
    color: #282c3f;
  }
  img {
    margin-right: 10px;
  }
  div {
    display: flex;
    width: 250px;
    margin: 15px 0 30px 0;
  }
}
.popular-searchs {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    padding-right: 10px;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    margin-left: 5%;
  }
  hr {
    width: 1080px;
    margin: 0;
  }
}
.footer-brands {
  color: #696b79;
  display: flex;
  justify-content: center;
  margin: 30px 0 0;
  span {
    width: 1200px;
    margin-left: 4.7%;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
  }
}
.footer-last {
  color: #94969f;
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 218px;
  margin-top: 40px;
  a {
    text-decoration: none;
    font-weight: 700;
    color: #526cd0;
  }
}
