* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f5f5f5;
  padding: 3px 23%;
}
.cart {
  background-color: white;
  padding: 1px 16px 20px;
}
.heading {
  margin: 20px 0;
}
.detail-h {
  line-height: 20px;
  font-weight: bolder;
}
.detail {
  line-height: 20px;
}
table {
  border-collapse: collapse;
  margin-top: 18px;
}
.table-heading {
  background-color: lightgray;
}
.heading-item {
  text-align: left;
  width: 300px;
  padding: 5px 10px;
}
.heading-item-detail {
  text-align: left;
  padding: 5px 10px;
  width: 150px;
}
.table-detail {
  padding: 5px 8px;
}
button {
  margin-top: 20px;
  background-color: #6161ff;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 4px;
}

@media print {
  body {
    background-color: white;
    padding: 3px 0;
  }
  .heading {
    text-align: center;
  }
  .invoice-detail {
    display: flex;
    justify-content: space-between;
  }
  table {
    border: 1px solid;
  }
  .heading-item {
    text-align: left;
    border: 1px solid;
    width: 400px;
    padding: 0px 10px;
    background-color: lightgray;
  }
  .heading-item-detail {
    text-align: left;
    border: 1px solid;
    padding: 0px 10px;
    width: 300px;
    background-color: lightgray;
  }
  .table-detail {
    text-align: left;
    border: 1px solid;
    padding: 0px 10px;
  }
  .total {
    display: flex;
    justify-content: right;
    margin-top: 10px;
  }
  button {
    display: none;
  }
}
