body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #f0f5ff;
}

/* header */
.header {
  display: flex;
  height: 68px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: white;
}
.header-search {
  background-color: #f0f5ff;
  display: flex;
  height: 40px;
  flex-basis: 800px;
  border-radius: 7px;

  svg {
    padding: 8px 8px 12px;
  }
  input {
    outline: none;
    border: none;
    background-color: #ffffff00;
    width: 100%;
    font-size: 17px;
  }
}
.header-login {
  display: flex;
  gap: 4px;
  select {
    border: none;
    font-size: 17px;
  }
}
.header-cart-seller {
  display: flex;
  gap: 4px;
  font-size: 17px;
  span {
    white-space: nowrap;
  }
}

/* main */

/* all-category */
.all-category-section {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  background-color: white;
}
.all-category {
  display: flex;
  a {
    text-decoration: none;
    font-weight: 600;
    padding: 16px;
  }
}
.category-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    white-space: nowrap;
    color: #333333;
    font-size: 14px;
  }
}
