* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

/* header */
.nav-bar {
  background-color: #0f1111;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-box {
  height: 50px;
  width: 114px;
}

.border:hover {
  border: 1px solid white;
  align-items: center;
}
.nav-logo {
  background-image: url("../images/amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}

.nav-height {
  height: 65%;
  padding: 0.5%;
  padding-top: 0.4%;
}
.nav-location-deliver {
  font-size: 12px;
  color: #cccccc;
  margin-left: 25px;
}
.nav-bold-14px-word {
  font-weight: bold;
  font-size: 14px;
}

.nav-search {
  display: flex;
  background-color: #febd69;
  width: 620px;
  justify-content: space-evenly;
  height: 40px;
  border-radius: 0.25rem;
}
.nav-search-dropdown {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  width: 3rem;
  text-align: center;
  background-color: #e6e6e6;
  border: none;
}
.nav-search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding: 0;
  padding-left: 1rem;
}
.nav-search-icon {
  width: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-search-input:focus,
.nav-search-dropdown:focus {
  outline: none;
}
.nav-search:focus-within {
  border: 3.5px solid #d59f58;
}
.nav-9px-word {
  font-size: 12px;
}
.nav-lang-flag {
  background-image: url("../images/Flag-USA.webp");
  background-size: cover;
  margin-right: 5px;
  width: 21.6px;
  height: 16.2px;
}
.nav-lang {
  display: flex;
  align-items: center;
  height: 50px;
}
.nav-cart {
  display: flex;
  align-items: center;
  height: 50px;
}
.nav-cart-logo {
  color: white;
}

/* panel */

.panel {
  background-color: #232f3e;
  height: 40px;
  display: flex;
  color: white;
  align-items: center;
}
.panel-items {
  font-size: 14px;
  height: 65%;
  padding: 0.5%;
  padding-top: 0.5%;
}
.panel-border:hover {
  border: 1px solid white;
}

/* main section */
main {
  width: 100%;
}
.main-background-image {
  background-image: url("../images/hero_image.jpg");
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-msg {
  background-color: white;
  display: flex;
  width: 97%;
  justify-content: center;
  height: 40px;
  align-items: center;
  font-size: 0.85rem;
  margin-bottom: 25px;
}

.main-msg a {
  color: #2162a1;
  text-decoration: none;
}
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  height: 400px;
  width: 21%;
  background-color: white;

  padding: 20px 1rem 15px 1rem;
  margin: 15px 0px 0px 0px;
}

.box-img {
  background-size: cover;
  height: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box p {
  color: #2162a1;
}

.box1-img {
  background-image: url("../images/box1_image.jpg");
}
.box2-img {
  background-image: url("../images/box2_image.jpg");
}
.box3-img {
  background-image: url("../images/box3_image.jpg");
}
.box4-img {
  background-image: url("../images/box4_image.jpg");
}
.box5-img {
  background-image: url("../images/box5_image.jpg");
}
.box6-img {
  background-image: url("../images/box6_image.jpg");
}
.box7-img {
  background-image: url("../images/box7_image.jpg");
}
.box8-img {
  background-image: url("../images/box8_image.jpg");
}

/* footer */

.footer-panel-1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.footer-panel-2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #222f3d;
  color: white;
  height: 350px;
}
ul p {
  margin: 40px 0px 14px;
}
ul a {
  display: block;
  text-decoration: none;
  color: #dddddd;
  font-size: 14px;
  margin: 0px 0px 10px;
}

.footer-panel-3 {
  background-color: #222f3d;
  border-top: 1px solid #3a4553;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
}

.footer-panel-4 {
  background-color: #131a22;
  display: block;
  text-decoration: none;
  color: #dddddd;
  font-size: 12px;
  height: 80px; 
  text-align: center;
}
.pages a {
  text-decoration: none;
  color: #dddddd;
}

.pages {
  padding-top: 25px;
}
.copy-right {
  padding-top: 5px;
}
