body {
  background-color: black;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  height: 550px;
  width: 550px;
  border: 0.25px solid #71767b;
  display: flex;
  padding: 10px 15px;
}
.user-image {
  margin-right: 10px;
}
.user-image img {
  height: 40px;
  border-radius: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-info {
  display: flex;
  justify-content: space-between;
}
.user-info-left {
  display: flex;
  align-items: center;
  gap: 2px;
}
.user-info-left a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 2px;
}
.user-name {
  font-size: 15px;
  font-weight: bold;
}
.tick-sign {
  fill: rgb(29, 155, 240);
  width: 16px;
  height: 16px;
}
.username {
  font-size: 15px;
  color: #71767b;
}

.user-info-right {
  display: flex;

  fill: #71767b;
}
.grok-sign {
  width: 19px;
  height: 18px;
}
.more-sign {
  height: 18px;
  width: 18px;
}
.content-section {
  margin: 0px;
  margin-top: -6px;

  font-size: 15px;
}
.image-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.images {
  display: flex;
  gap: 2px;
  box-sizing: border-box;
}
.image-1 {
  background-image: url("https://pbs.twimg.com/media/G_lRz-4XoAAM2DP?format=jpg&name=small");
  background-size: cover;
  height: 290px;
  width: 249px;
  border-radius: 5% 0 0 5%;
}

.image-2 {
  background-image: url("https://pbs.twimg.com/media/G_lR0D8XQAAjHyw?format=jpg&name=small");
  background-size: cover;
  height: 290px;
  width: 249px;
  border-radius: 0 5% 5% 0;
}
.people-react {
  font-size: 13px;
  color: #71767b;
}

.intration-share {
  display: flex;
  color: #71767b;
  font-size: 13px;
  align-items: center;
  gap: 59px;
}
.intraction-svg {
  width: 19px;
  height: 19px;
  fill: #71767b;
}
.intraction-values {
  margin-top: -4px;
}
.comment,
.repost,
.like,
.views {
  display: flex;
  align-items: center;
}

.share-save {
  display: flex;
  align-items: center;
}

.user-name:hover {
  text-decoration: underline;
}

.user-info-left time:hover {
  text-decoration: underline;
}

.share,
.save,
.intraction-svg-box,
.user-info-right-box {
  padding: 5px 7px;
}
.share:hover,
.save:hover,
.views:hover .intraction-svg-box,
.comment:hover .intraction-svg-box,
.user-info-right-box:hover {
  border-radius: 50%;
  background-color: rgba(29, 156, 240, 0.15);
}

.share:hover svg,
.save:hover svg,
.views:hover svg,
.views:hover,
.comment:hover svg,
.comment:hover,
.user-info-right-box:hover {
  fill: rgb(29, 155, 240);
  color: rgb(29, 155, 240);
}

.repost:hover svg,
.repost:hover {
  fill: rgb(155, 240, 29);
  color: rgb(155, 240, 29);
}
.repost:hover .intraction-svg-box {
  border-radius: 50%;
  background-color: rgba(155, 240, 29, 0.15);
}

.like:hover svg,
.like:hover {
  fill: rgb(240, 29, 155);
  color: rgb(240, 29, 155);
}
.like:hover .intraction-svg-box {
  border-radius: 50%;
  background-color: rgba(240, 29, 15, 0.15);
}
